{
    "decisions" : [
                    { "Crawler" : "Crawler" },
                    { "HandlersContainer" : "SimpleHandlersContainer" },
                    { "StateComparator" : "DiffStateComparator" },
                    { "FormHandler" : "FormHandler" },
                    { "AuthHandler" : "AuthHandler" },
                    { "CrawlingController" : "DepthFirstController" }
                  ],

    "decisionsPath" : "components/decisions/",

    "observeHandlerTimeout" : 50,
    "authorizationTimeout" : 3000,

    "synchronousAjax" : true,

    "ignoreUrlMode" : "SAME_DOMAIN_IN_NAVIGATION",

    "logLevel" : "info",
    "logFileLevel" : "warning",
    "logFile" : "log.txt",
    "logCasperVerbose" : false,
    "createDotFile": "statesGraph.dot",

    "immediateStart" : true,
    "immediateStop" : true
}